* {
  box-sizing: border-box;
}

.h-user-body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;


  .h-user-main {
    display: block;

    .h-user-contents {
      width: 700px;
      margin: 0 auto;
      background: #fff;

      .h-user-title {
        text-align: center;
        font-size: 22px;
        padding: 32px;
        font-weight: bold;
        line-height: 1.5;
      }

      .h-user-content {
        border-top: 1px solid #f5f5f5;
      }
    }

    .h-user-form {
      padding: 40px 40px 64px;

      .h-user-form-box {
        max-width: 343px;
        margin: 0 auto;

        .h-form-group:first-child {
          margin: 0;
        }


        .h-form-group {
          font-family: "Source Sans Pro", Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          margin-top: 32px;

          .h-label {
            font-weight: 600;
          }

          .h-form-require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            font-weight: normal;
          }



          .h-form-any {
            background: rgb(195,195,195);
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }

          .h-input-default {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            white-space: nowrap;
            

            .h-form-password-revelation-toggle {
              
              .h-checkbox-default {
                margin: 16px 0 0;
              
              }
            }

          }

          .h-input-default:invalid {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            white-space: nowrap;
          }

        
          .h-text {
            font-size: 16px;
            font-weight: bold;
          }

          .h-text-confirmation {
            margin: 8px 0 0;
          }

          .h-input-default.h-half {
            width: calc(50% - 6px);
            display: inline-block;
          }
          .h-input-default.h-half:first-of-type {
            margin-right: 8px;
          }


          .h-birthday-select-wrap .h-select-wrap {
            display: inline-block;
            width: 76px;
            position: relative;
            white-space: nowrap;
          }

        
          .h-select-wrap {
            position: relative;
            display: inline;


            .year,.month,.day {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
        
          
          .h-icon-bottom{
            width: 17px;
            height: 17px;
            top: 70%;
            right: 10px;
            cursor: pointer;
            position: absolute;
          }
          

          .h-select-default,#user_address_attributes_prefecture_id {
            margin: 8px 0 0;
            width: 100%;
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 14px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;
            display: inline-block;
          }


          

          .h-select-wrap-card {
            position: relative;
            display: inline-block;
            width: 130px;
          }



          .h-birthday-select-wrap,.h-select-wrap+span {
            margin: 0 2px;
            display: inline-blok;
          }

          .h-recaptcha {
            height: 78px;
          }

          .h-singnup-card-list {
            margin: 8px 0 0;
          }

        }
        .h-form-info-text {
          margin: 8px 0 0;
          line-height: 1.5;
        }

        .h-l-single-content {
          margin: 0 auto;
        } 

        .h-text-center {
          text-align: center;
        }

        p {
          margin: 8px 0 0;
          line-height: 1.5;
        }

        .h-btn-default {
          margin-top: 32px;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }



        .h-btn-red {
          background: #ea352d;
          color: #fff;
          text-decoration: none;
          color: #fff;
        }

        .h-btn-red:active {
          background: gray;
          color: #fff;
        }

        .h-text-right {
          text-align: right;
          
        }

        .h-text-link {
          color: #0099e8;
          text-decoration: none;

          .h-icon-arrow-right {
            height: 15px;
          }
        }

        .h-text-link:hover {
          color: #32ADEC;
          text-decoration: underline;
        }


        .h-l-chapter-sub-head {
          font-weight: bold;
        }
      }
    }
  }
}

.h-checkbox-default  {
  margin: 16px 0 0;
  position: relative;
}

.h-link-btn {
  text-decoration: none;
}


.field_with_errors {

  border: 1px solid red;
}