.o-proexhibit {
  &__header{
    width: 100%;
    height: 128px;
    text-align: center;
  }
  &__headerimg{
    width: 185px;
    height: 49px;
    display: inline-block;
    margin: 40px 0 0;
  }
  &__inner{
    width: 700px;
    margin: 0 auto;
    background: #fff;
  }
  &__titlename{
    color: #333;
    line-height: 1.5;
    padding: 32px 16px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &__imageuploads{
    color: #333;
    width: 620px;
    padding: 40px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    &__title{
      font-size: 16px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      float: left;
    }
    &__text{
      font-size: 14px;
      margin: 8px 0 0;
    }
    &__file{
      margin: 16px auto 0;
      width: 620px;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      cursor: pointer;
      position: relative;
      margin:  0 auto;  
    }
    &__filetext{
      text-align: center;
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      color: #333;
      top: 35%;
      left: 16px;
      right: 16px;
    }
  }
  &__productname{
    border-top: 1px solid #eee;
    padding: 0 40px 40px;
    &__formgroup{
      margin: 40px 0 0;
    }
    &__title{
      font-size: 14px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      float: left;
    }
  }
  &__required{
    background: #ea352d;
    font-weight: bold;
    color: #fff;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    vertical-align: top;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &__explain{
    padding: 40px;
    display: flex;
    border-top: 1px solid #eee;
    &__formbox{
      width: 400px;
    }
    &__formgroup{
      margin: 40px 0 0;
    }
    &__title{
      color: #888;
      font-weight: bold;
      font-size: 14px;
      margin-right: 130px;
    }
    &__from{
      position: relative;
    }
    .icon-bottom{
      width: 17px;
      height: 17px;
      top: 35%;
      right: 12px;
      cursor: pointer;
      position: absolute;
    }
    .o-select{
      margin: 8px 0 0;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
  &__deivery{
    display: flex;
    padding: 0 40px 40px;
    border-top: 1px solid #eee;
    &__formbox{
      margin-left: 150px;
      width: 400px;
    }
    &__formgroup{
      margin: 40px 0 0;
    }
    &__title{
      color: #888;
      font-weight: bold;
      font-size: 14px;
      margin-right: 115px;
    }
    &__from{
      position: relative;
    }
    .icon-bottom{
      width: 17px;
      height: 17px;
      top: 35%;
      right: 12px;
      cursor: pointer;
      position: absolute;
    }
    .o-select{
      margin: 8px 0 0;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
  &__price{
    height: 300px;
    padding: 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    &__formbox{
      float: right;
      width: 400px;
    }
    &__title{
      float: left;
      color: #888;
      font-weight: bold;
      font-size: 13px;
    }
    &__formgroup{
      height: 72px;
    }
    &__from{
      width: 160px;
      float: right;
    }
    &__yen{
      font-size: 13px;
      padding-left: 140px;
    }
    
    .o-select{
      margin: 8px 0 0;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
    }
    .o-priceselect{
      float: left;
      width: 100%;
      height: 48px;
      border: 1px solid #ccc;
      background: #fff;
      padding: 0 16px;
      font-size: 14px;
      border-radius: 2px;
      -webkit-appearance: none;
      text-align: right;
      margin: 0;
    }
  }
  &__productnamee{
    border-top: 1px solid #eee;
    width: 700px;
    height: 400px;
    padding-left: 40px;
    &__title{
      font-size: 14px;
      color: rgb(51, 51, 51);
      font-weight: bold;
      line-height: 48px;
    }
  }
  &__btn{
    padding: 40px;
  }
  &__note{
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
  }
  &__linkred{
    display: block;
    background: #ea352d;
    color: #fff;
    margin: 40px 0 0;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    line-height: 48px;
    border: 1px solid #ea352d;
  }
  &__linkgray{
    display: block;
    margin: 24px auto 0;
    width: 45%;
    background: #aaa;
    border: 1px solid #aaa;
    cursor: pointer;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
  }
  &__return{
    text-decoration: none;
    color: #fff;
  }
}
.o-proexhibit__linkgray:hover{
  transition: background-color 0.7s;
  background: rgb(200, 200, 200);
  border: 1px solid rgb(200, 200, 200);
  outline: 0;
}
.o-inputproductname{
  display: block;
  height: 48px;
  width: 620px;
  padding: 10px 16px 8px;
  font-size: 16px;
  border-radius: 4px;
  margin: 8px 0 0;
  border: 1px solid #ccc;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.o-inputproductname:focus{
  border: 1px solid #008cff;
  outline: 0;
}
.o-inputproducttext{
  min-height: 142px;
  width: 620px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 8px 0 0;
  font-size: 16px;
  padding: 10px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.o-inputproducttext:focus{
  border: 1px solid #008cff;
  outline: 0;
}
.o-select:focus{
  border: 1px solid #008cff;
  outline: 0;
}
.o-priceselect:focus{
  border: 1px solid #008cff;
  outline: 0;
}
.o-fee{
  border-top: 1px solid #ccc;
  padding: 30px 0;
  height: 66px;
  display: flex;
  &__left{
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    color: #333;
    font-size: 14px;
    float: left;
    &__right{
      float: right;
    }
  }
}
.o-profit{
  border-top: 1px solid #ccc;
  padding: 24px 0;
  display: flex;
  &__left{
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    float: left;
    &__right{
      float: right;
    }
  }
}

.o-fee-calculation {
  font-size: 14px;
  color: #333;
  margin:0 0 0 auto
}

.o-profit-calculation {
  font-weight: bold;
  font-size: 27px;
  color: #333;
  margin:0 0 0 auto
}

.h-text-link {
  color: #0099e8;
  text-decoration: none;
  .h-icon-arrow-right {
    height: 15px;
  }
}
.h-text-link:hover {
  color: #32ADEC;
  text-decoration: underline;
}
.o-hidden{
  display: none;
}
.clearfix{
  content: '';
  display: block;
  clear: both;
}

.k-imgup{
  display: flex;
  margin:  0 auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.o-image-move {
  width: 114px;
  height: 160px;
  border: 1px solid #eee;
  background: #f5f5f5;
  padding-top: 15px;
  display: none;
  margin-right: 12px;
  &__image {
    width: 114px;
    height: 116px;
    object-fit: cover;
    &__img {
      width: 114px;
      height: 116px;
      max-width:100%;
    }
  }
  &__up {
    width: 114px;
    height: 116px;
    display: flex;
    padding: 0 10px;
    &__edit {
      color: #0099e8;
      text-decoration: none;
      width: 57px;
      height: 44px;
    }
    &__choice {
      color: #0099e8;
      text-decoration: none;
      width: 57px;
      height: 44px;
      text-align: right;
    }
  }
}


.k-minus {
  width: calc(100% - 260px);
}

.k-correction {
  color: #0099e8;
}