// white
$white: #fff;

// gray
$border-gray: #f5f5f5;
$light-gray: #ccc;
$row-gray: #eee;
$gray: #888;

// black
$dark-black: #222;
$black-letters: #333;

// red
$button-red: #ea352d;

// blue
$border-blue: #008cff;
$link-blue: #0099e8;
$link-blue-hover: #32adec;

