.k-back
  .k-footer 
    .k-footer__contents
      %nav.k-nav-footer
        %li.k-li-footer プライバシーポリシー
        %li.k-li-footer メルカリ利用規約
        %li.k-li-footer 特定商取引に関する表記
      = image_tag 'SVG/logo_gray.svg', height: '', width: '', class: 'k-footer__contents__logo'
      .k-footer__contents__c
        © 2019 Mercari