.k-single-container
  .k-single-header
    .k-single-header__img
      = link_to image_tag( '/images/mercari_logo_horizontal.png',  class: 'k-single-header__img' ), 'products#index'
  .k-single-main
    .k-single-main__container
      .k-single-main__container__head
        %h2 新規会員登録
      .k-single-main__container__form
        .k-single-main__container__form__menu
          .k-single-main__container__form__menu__mail
            =link_to "" do
              %i.fa.fa-envelope-o
              メースアドレスで登録する
          .k-single-main__container__form__menu__facebook
            =link_to "" do
              %i.fa.fa-facebook-square
              Facebookで登録する
          .k-single-main__container__form__menu__google
            =link_to "" do
              = image_tag 'google.png', height: '', width: '', class: 'k-single-main__container__form__menu__google__i'
              Googleで登録する
= render "signup/signup-footer"
