%body
  .m-mypage-wrapper

    = render "shared/header"

    - breadcrumb :logout
    = render partial: "shared/breadcrumbs"

    .m-mypage-container.clearfix

      =render "users/side-bar"

      .m-logout-content
        .m-logout-chapter-container
          %form.m-logout-single-inner
            .m-logout-single-content
              = link_to destroy_user_session_path, method: :delete, class: 'm-logout-path' do
                %button.btn-default.m-logout-btn-red{type: "submit"} ログアウト
      
    = render "shared/footer"