%body
  .m-mypage-wrapper

    = render "shared/header"
    
    - breadcrumb :mypage
    = render partial: "shared/breadcrumbs"

    .m-mypage-container.clearfix

      =render "users/side-bar"

      .m-mypage-container__content
        %section.m-mypage-container__content-user-icon
          %a.m-mypage-a
            %figure.m-mypage-figure
              %img.m-mypage-img{src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}
            %h2.m-mypage-h2
              = current_user.nickname
            .m-mypage-number
              .m-mypage-number-detail
                評価
                %span.m-mypage-span 20
              .m-mypage-number-detail
                出品数
                %span.m-mypage-span 19
        %section.m-mypage-container-news-todo.clearfix
          %ul.m-mypage-tabs
            %li.m-mypage-list3
              %h3.m-mypage-h3
                %a.m-mypage-a お知らせ
            %li.m-mypage-list3
              %h3.m-mypage-h3
                %a.m-mypage-a やることリスト
          .m-mypage-tab-contents
            %ul#my-page-notification
              %li.m-mypage-item-not-found.bold 現在、やることリストはありません
        %section.m-mypage-container__tradings
          %h2.m-mypage-container__tradings-head 購入した商品
          %ul.m-mypage-container__tradings-tabs
            %li.m-mypage-trading-tabs
              %a.m-mypage-a2 取引中
            %li.m-mypage-trading-tabs
              %a.m-mypage-a2 過去の取引
          .m-mypage-container__tradings-contents
            %ul#trading-tab-list-now.tab-pane
              %li.m-mypage-item-not-found.bold  取引中の商品がありません
            %ul#trading-tab-list-old.tab-pane
            
    = render "shared/footer"         