
-# .h-exhibit
-# .h-banner
-#   .h-install
-#     .h-install__left
-#     .h-install__right
-# -#       = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", alt: "背景画像", class: "image", height: "260", width: "300"
-# .h-footer
