.k-header
  .k-top
    .k-top__logo-and-search
      .k-top__logo-and-search__logo
        = image_tag 'mainlog.svg', height: '', width: '', class: 'k-top__logo-and-search__logo__img'
      .k-form
        %form
          %input.k-input{placeholder:'何かお探しですか？'}
          .btn
            %label{class: "form__mask"}
              = fa_icon 'search', class: 'icon', type:'submit', fa_icon: 'search'
    .k-top__list
      .k-top__list__menu
        .k-top__list__menu__link
          %i.fa.fa-list
          カテゴリーから探す
        .k-top__list__menu__link
          %i.fa.fa-tag
          ブランドから探す
      .k-top__list__list
        .k-top__list__list__signup 
          新規会員登録
        &nbsp;&nbsp;
        .k-top__list__list__login 
          ログイン
