body{
  background-color: $border-gray;
  .m-mypage-wrapper{
    .m-mypage-container{
      margin: 0 auto;
      height: 1320px;
      width: 1020px;
      padding: 40px 0 40px;    
      &__content{
        float: right;
        background-color: $border-gray;
        width: 700px;
        &-user-icon{
          background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?52408201");
          height: 200px;
          padding: 20px;
          box-sizing: border-box;
          position: relative;
          .m-mypage-a{
            position: absolute;
            width: 700px;
            top: 50px;
            left: 0;
            .m-mypage-figure{
              width: 60px;
              margin: 0 auto;
              .m-mypage-img{
                height: 60px;
                border-radius: 30px;
              }
            }
            .m-mypage-h2{
              text-align: center;
              margin-top: 8px;
              font-size: 14px;
              font-weight:bold
            }
            .m-mypage-number{
              margin-top: 8px;
              font-size: 14px;
              text-align: center;
              &-detail{
                display: inline-block;
                .m-mypage-span{
                  display: inline-block;
                  margin-left: 8px;
                  font-size: 14px;
                  font-weight:bold
                }
              }
              &-detail:not(:first-child){
                margin-left: 16px;
              }
            }
          }
          .m-mypage-a:hover{
            opacity: 0.7;
            .m-mypage-h2{
              text-decoration: underline;
            }
          }
        }
      }
      &-news-todo.clearfix{
        .m-mypage-tabs{
          height: 72px;
          width:700px;
          display: inline-block;
          box-sizing: border-box;
          .m-mypage-list3{
            width: 50%;
            background-color: $row-gray;
            box-sizing: border-box;
            float: left;
            list-style: none;
            .m-mypage-h3{
              font-size: 22px;
              text-align: center;
              .m-mypage-a{
                font-size: 16px;
                line-height: 72px;
                display: block;
                color: $black-letters;
                text-align: center;
                position: relative;
                background-color: $row-gray;
                height: 74px;
                font-weight:bold
              }
            }
          }
          .m-mypage-list3:hover{
            opacity: 0.7;
            background-color: $row-gray;
            border-top: 2px solid $button-red;
          }
        }
        .m-mypage-tab-contents{
          background-color: $white;
          width: 700px;
          height: 236px;
          .m-mypage-item-not-found.bold{
            padding: 160px 0 60px;
            color: $light-gray;
            text-align: center;
            font-size: 16px
          }
        }
      }
      &__tradings{
        margin-top: 40px;
        &-head{
          width: 700px;
          padding:0 16px;
          box-sizing: border-box;
          background: $white;
          color: $black-letters;
          font-size: 16px;
          line-height: 72px;
          font-weight:bold
        }
        &-tabs{
          height: 72px;
          width:700px;
          display: inline-block;
          box-sizing: border-box;
          .m-mypage-trading-tabs{
            width: 50%;
            float: left;
            display: inline-block;
            .m-mypage-a2{
              font-size: 16px;
              line-height: 72px;
              display: block;
              color: $black-letters;
              text-align: center;
              background-color: $row-gray;
              height: 74px;
              font-weight:bold
            }
          }
          .m-mypage-a2:hover{
            opacity: 0.7;
            border-top: 2px solid $button-red;
          }
        }
        &-contents{
          background-color:$white;
          width: 700px;
          height: 236px;
          .m-mypage-item-not-found.bold{
            padding: 160px 0 60px;
            color: $light-gray;
            text-align: center;
            font-size: 16px
          }
        }
      }
    }
  }
}