.m-mypage-container{
  margin: 0 auto;
  height: 1320px;
  width: 1020px;
  padding: 40px 0 40px;
  &__side{
    float: left;
    width: 280px;
    margin-right: 40px;

    .m-mypage-side-bar{
      &-list{
        .m-mypage-list2{
          border-top: 1px solid #eee;
          .m-mypage-list-item{
            box-sizing: border-box;
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background-color: #fff;
            color: #333;
            font-size: 14px;
            .m-mypage.fa.fa-angle-right.icon{
              position: absolute;
              top: 10px;
              right: 16px;
              color: #ccc;
              font-size: 25px;
            }
          }
        }
        .m-mypage-list2:hover{
          .m-mypage-list-item{
            opacity: 0.7;
            background-color: #eee;
            .m-mypage.fa.fa-angle-right.icon{
              color: #333;
              right: 10px;
              top: 13px;
              font-size: 22px;
            }
          }
        }
      }
      &-list-header{
        margin-top: 40px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}