.h-payment-content {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  float: right;
  width: 700px;

  .h-paymentt-title {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid $border-gray;
    text-align: center;
    line-height: 1.4;
    background: $white;
    font-weight: bold;
  }

  .h-payment-main {
    padding: 64px;
    background: $white;
    border-top: 1px solid $border-gray;

    .h-payment-main-title {
      max-width: 320px;
      margin: 0 auto;

      &__name {
        font-size:16px;
        font-weight: bold;
      }
    
      .h-payment-list {
        list-style: none;
      }
    }
    .h-add-credit-card {
      padding: 24px 0;
      border-bottom: 1px solid $row-gray;


      .h-payment-btn-default {
        text-decoration: none;
        color: $white;

        .h-l-single-content {
          max-width: 320px;
          margin: 0 auto;
          background: $button-red;
          border: 1px solid $button-red;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;

          .fa-credit-card {
            font-size: 16px;
            font-weight: 400;
            margin-right: 16px;
          }
        }
      }
    }

    .h-payment-blue-text {
      margin: 40px 0 0;
      text-align: right;
      

      .h-payment-text-link {
        color: $link-blue;
        text-decoration: none;

        .h-payment-icon-arrow-right {
          height: 14px;
          line-height: 16px;
        }
      }
    }

    .h-payment-text-link:hover {
      color: $link-blue-hover;
      text-decoration: underline;
    }
  }
}