* {
  box-sizing: border-box;
}



.h-exhibit {
  font-size: 22px;
  height: 160px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;


}

.h-banner {
  background-image: ulr("IMG_6030.JPG");
  background-size: cover;
  background-position: center;

  .h-install {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 750px;
    height:300px;
    margin: 0px auto;

    &__left {

      display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;

    }

    &__right {

      #image {

      }

    }
  }
}


.h-footer {
  background-color: rgb(34,34,34);
  color: rgb(255,255,255);
  font-size: 12px;
  padding: 0px 20px 10px;
}