* {
  box-sizing: border-box;
}

.k-header {
  background-color: #FFF;
  width: 100%;
  height: 100px;
  .k-top {
    background-color: #FFF;
    margin: 0 auto;
    width: 1020px;
    height: 100px;
    &__logo-and-search {
      position:relative;
      top: 8px;
      font-family: inherit;
      display: flex;
      border: none;
        &__logo {
          background-color: #FFF;
          height: 40px;
          margin-right: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          &__img {
            background-color: #FFF;
            height: 43px;
            object-fit: cover;
          }
        }
      }

    &__list {
      background-color: #FFF;
      width: 1020px;
      height: 44px;
      display: flex;
      position:relative;
      align-items: center;
      margin-top: 10px;
      &__menu {
        font-size: 14px;
        margin-top: 8px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        color: rgb(51, 51, 51);
        float: left;
        line-height: 36px;
        font-weight: 600;
        display: flex;
        &__link {
          padding-right: 10px;
          .k-fa {
            font-size: 14px;
          }
          .k-faicon{
            max-width: 100%;
            max-height: 100%;
            margin-right: 4px;
            height: 15px;
          }
          .fa-tag{
            color: red;
            margin-left: 4px;
          }
        }
      }
.k-top__list__menu__link:hover {
  cursor: pointer;
  color: rgb(0, 174, 255);
}
.k-top__list__list__login:hover{
  cursor: pointer;
  background-color:rgb(0, 143, 238);
  color: rgb(255, 255, 255);
} 

      &__list {
        font-size: 14px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        border-radius: 4px;
        display: flex;
        float: right;
        margin:0 0 0 auto;
        &__signup {
          background-color: rgb(234, 53, 45);
          display: block;
          font-size: 14px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(234, 53, 45);
          border-image: initial;
          border-radius: 4px;
          padding: 8px 10px;
      
        }
        &__login {
          a{text-decoration: none;}
          background-color: rgb(255, 255, 255);
          color: rgb(0, 149, 238);
          display: block;
          font-size: 14px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(0, 149, 238);
          border-image: initial;
          border-radius: 4px;
          padding: 8px 10px;
          transition: all 0.3s ease-out 0s;
        }

      }
      .signupbtn{
        color: rgb(255, 255, 255);
        text-decoration: none;
      }
    }
  }
}

.k-form {
    .k-form {
    width: 838px;
    display: flex;
    align-items: center;

    .k-input{
      float: left;
      width: 100%;
      height: 38px;
      background-color: rgb(245, 245, 245);
      height: 40px;
      font-size: 16px;
      line-height: 1.4em;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid
      border-color rgb(204, 204, 204);
      padding: 0px 50px 0px 10px;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      position: relative;
    }
    .k-input:focus{
      border: 1px solid #008cff;
      outline: 0;
    }

    .btn {
      top:0;
      right: 0;
      width: 40px;
      margin-top: 10px;
      position: absolute;
      text-align: center;
      font: 14px system-ui;
      color: rgb(34, 34, 34);
    }
  }
}