.o-main
  .o-main__photo
    = image_tag "main.jpg",class: "o-main-photo"
  .o-category
    %h2.o-category__title
      人気のカテゴリー
    .o-category__list
      %ul.o-category__list__total
        %li.o-category__list__details
          レディース
        %li.o-category__list__details
          メンズ
        %li.o-category__list__details
          家電・スマホ・カメラ
        %li.o-category__list__details
          おもちゃ・ホビー・グッズ
  .o-contents 
    .o-contents__content
      .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            レディース新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ

      .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            メンズ新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ
      
        .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            家電・スマホ・カメラ新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ

          .o-contents__content-main
          .o-contents__text
            %h3.o-contents__name
              おもちゃ・ホビー・グッズ新着アイテム
            %a.o-contents__link
              もっと見る　
          .o-contents__menu
            %ul.o-contents__menu__items
              %li.o-contents__menu__item
                %figure.o-contents__menu__box
                  =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                  %figcaption.o-contents__menu__texts
                    %span.o-contents__menu__text
                      Tシャツ　
              %li.o-contents__menu__item
                %figure.o-contents__menu__box
                  =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                  %figcaption.o-contents__menu__texts
                    %span.o-contents__menu__text
                      Tシャツ

  .o-category
    %h2.o-category__title
      人気のカテゴリー
    .o-category__list
      %ul.o-category__list__total
        %li.o-category__list__details
          シャネル
        %li.o-category__list__details
          ルイヴィトン
        %li.o-category__list__details
          シュプリーム
        %li.o-category__list__details
          ナイキ
  .o-contents 
    .o-contents__content
      .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            シャネル新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ

      .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            ルイヴィトン新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ
      
        .o-contents__content-main
        .o-contents__text
          %h3.o-contents__name
            シュプリーム新着アイテム
          %a.o-contents__link
            もっと見る　
        .o-contents__menu
          %ul.o-contents__menu__items
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ　
            %li.o-contents__menu__item
              %figure.o-contents__menu__box
                =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                %figcaption.o-contents__menu__texts
                  %span.o-contents__menu__text
                    Tシャツ

          .o-contents__content-main
          .o-contents__text
            %h3.o-contents__name
              ナイキ新着アイテム
            %a.o-contents__link
              もっと見る　
          .o-contents__menu
            %ul.o-contents__menu__items
              %li.o-contents__menu__item
                %figure.o-contents__menu__box
                  =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                  %figcaption.o-contents__menu__texts
                    %span.o-contents__menu__text
                      Tシャツ　
              %li.o-contents__menu__item
                %figure.o-contents__menu__box
                  =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhdjFega8huJRQoh_SZPQ2Za14ecQg2TcXusoTwc9KlfIAW91Tw&s",class: "o-contents__menu__image"
                  %figcaption.o-contents__menu__texts
                    %span.o-contents__menu__text
                      Tシャツ


    