-# Topページ

-# ヘッダ--------------------
= render "shared/header"
-# ------------------------

-# 商品一覧------------------
= render "products/product"
-# ------------------------

-# フッタ--------------------
= render "shared/footer"
-# ------------------------