.o-proexhibit
  %header.o-proexhibit__header
    %h2.o-proexhibit__headerimage
      = link_to image_tag( '/images/fmarket_logo_red.svg',  class: 'o-proexhibit__headerimg' )
  .o-proexhibit__main
    %section.o-proexhibit__inner
      .o-proexhibit__title
        %h2.o-proexhibit__titlename
          商品の情報を入力
      .o-proexhibit__inner__form
        .o-proexhibit__imageuploads
        .o-proexhibit__productname
        .o-proexhibit__explain
        .o-proexhibit__details
        .o-proexhibit__deivery
        .o-proexhibit__price
        .o-proexhibit__btn

