-# Showページ

-# ヘッダ--------------------
= render "shared/header"
-# ------------------------

-# 商品詳細------------------
= render "products/details"
-# ------------------------

-# フッタ--------------------
= render "shared/footer"
-# ------------------------